{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="panel panel-default">
  <div class="panel-heading">
<h1>Verboden toegang - Lunenburg VMS<h1>
</div>
<div class="panel-body">
<h2 style="color:red;">
  Je hebt onvoldoende rechten om deze pagina te bekijken.
</h2>
</p>
</div>
</div>

{% endblock %}
