{% extends 'base.html.twig' %}
{% block body %}
<br>
<div class="panel panel-default">
  <div class="panel-heading">
<h3>Zoekresultaten<h3>
</div>
<div class="panel-body">
  <div class="table-responsive">
  <table class="table table-striped">
      <tr>
          <th>Artikel</th>
          <th>Magazijnlocatie</th>
      </tr>

      {% for Artikel in Artikelen %}

        <tr>
          <td>{{ Artikel.omschrijving }}</td>
            <td>{{ Artikel.magazijnlocatie }}</td>

        </tr>

      {% endfor %}

  </table>
  </div>
</div>
</div>




{% endblock %}
